@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    background-color: #EEEEEE;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    background-color: #EEEEEE;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease;
}

.loader {
    width: 60px;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

h1,
h2 {
    font-family: 'Manrope', 'Inter', sans-serif;
}

p,
a {
    font-family: 'IBM Plex Sans', 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(112, 112, 112);
    transition: .3s ease;
}

a:hover {
    color: rgb(77, 77, 77);
}



header {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.171);
    backdrop-filter: blur(100px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.041);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.041);
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    height: 60px;
    box-sizing: border-box;
}

header>nav {
    display: flex;
    gap: 10px;

}

.head-logo {
    width: 140px;
    cursor: pointer;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 20px;
}

.mobile-menu {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    padding: 100px 50px;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    display: flex;
    z-index: 2;
    font-size: 25px;
    text-align: left;
    opacity: 0;
    transition: top 0.5s ease-in, opacity 0.3s ease-in;
}

body.no-scroll {
    overflow: hidden;
}

.mobile-menu>a {
    margin-bottom: 10px;
    text-decoration: none;
}

.mobile-menu.show {
    top: 0;
    opacity: 1;
}

.main {
    width: 100%;
    min-height: 80svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    padding: 20px 0;
}

.videobg {
    width: 450px;
    object-fit: contain;
    z-index: -1;
    margin-bottom: -20px;

    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

.gradientFont {
    background: linear-gradient(90deg, #098df7, #b763fc, #e0519e, #f55312);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.main>h1 {
    max-width: 1000px;
    color: white;
    margin-bottom: 20px;
    transition: opacity 0.5s ease;
}

#headline {
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 1;
}
#headline.fade-out {
  opacity: 0;
  transform: translateY(10px); /* opcional: dá sensação de movimento */
}


.container {
    width: 88vw;
    margin: auto;
}

button {
    cursor: pointer;
    border: none;
    background-color: #2e93e6;
    color: white;
    padding: 12px 15px;
    border-radius: 30px;
    transition: .3s ease;
    font-size: 13px;
}

button:hover {
    background-color: #236daa;
}

.alt-btn {
    background-color: rgba(255, 255, 255, 0.603);
    color: rgb(20, 20, 20);
}

.alt-btn:hover {
    background-color: rgba(255, 255, 255, 0.836);
}

.nav-btn {
    display: flex;
    gap: 20px;
}

.services {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 8%;
    margin: 100px 0;
    color: rgb(56, 56, 56);
}

.service-content {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #e6e6e6;
}

.service-content>h1 {
    font-size: 18px;
}

.service-content>p {
    font-size: 16px;
}

.service-icon {
    width: 40px;
    height: 35px;
    stroke-width: 1.3;
    color: #2e93e6;
    margin: -70px auto 0 auto;
    background-color: #e6e6e6;
    border-radius: 50%;
    padding: 13px;
    transition: .3s ease;
}

.service-content:hover .service-icon {
    transform: scale(1.03);
    color: #236daa;
}

.products {
    z-index: 1;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    align-items: center;
    place-items: center;

    width: 90vw;
    margin: auto;
    gap: 30px;
}

.product-content {
    width: auto;
    height: 45vw;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 0 10% 10% 10%;
    color: white;
    text-align: center;
}

.product-content>h1 {
    font-size: 40px;
}

.product-content>p {
    margin: 10px 0 20px 0;
    font-size: 18px;
}

.partners {
    text-align: center;
    margin: 120px 0 0 0;
}

.partners>h1 {
    color: rgb(61, 61, 61);
    margin-bottom: 50px;
    font-weight: bolder;
    font-size: 30px;
}

.partners-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.partners-list {
    display: flex;
    gap: 40px;
    width: max-content;
}

.partners-list img {
    width: 200px;
    flex-shrink: 0;
    filter: grayscale(30%);
    transition: filter 0.3s;
}

.partners-list.left {
    animation: marquee-left 60s linear infinite;
}

.partners-list.right {
    animation: marquee-right 60s linear infinite;
}

@keyframes marquee-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes marquee-right {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

.contact {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    padding: 10vh 0;
    color: rgb(49, 49, 49);
    margin-top: 100px;
    background-color: #e6e6e6;
}


h3 {
    color: #3d3d3d;
    font-size: 17px;
    margin-bottom: 5px;
}

.contact p {
    color: rgb(112, 112, 112);
    font-size: 15px;
}

.contact img {
    width: 130px;
}

.contact>nav {
    display: flex;
    flex-direction: column;
}

.contact-links {
    display: flex;
    flex-direction: column;
}

.contact-links>a>img {
    margin-left: -5px;
}

.socials {
    margin: 10px 0;
}

.socials img {
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.11);
    cursor: pointer;
}

.socials img:hover {
    background-color: rgba(66, 66, 66, 0.089);
}

footer {
    font-size: 13px;
    color: rgb(20, 20, 20);
    text-align: center;
    padding: 5px;
    background-color: #e6e6e6;
}

@media(max-width:1000px) {
    .product-content>h1 {
        font-size: 30px;
    }

    .product-content>p {
        font-size: 15px;
    }
}

@media(max-width: 850px) {
    button {
        font-size: 15px;
        padding: 10px;
    }

    .main>h1 {
        padding: 0 3vw;
    }

    .services {
        flex-direction: column;
        margin: 70px auto auto auto;
        max-width: 350px;
        gap: 70px;
    }

    .products {
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
        gap: 30px;
        margin: 10vh 0;
    }

    .product-content {
        max-width: 80vw !important;
        height: 60vh;
        max-height: 600px;
    }

    .partners {
        margin: 0;
    }

    .partners>h1 {
        margin-bottom: 30px;
        font-size: 30px;
    }

    .partners-list {
        gap: 30px;
    }

    .partners-list img {
        width: 150px;
    }

    .contact {
        padding: 5vh 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }
}

@media(max-width:750px) {

    header>nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-menu.show {
        display: flex;
    }

    header {
        padding: 10px 20px;
        height: 70px;
    }

}

@media (max-width:420px) {

    /* celular:

**ver se tem como deixar vídei inclicável.
*/
    .main {
        min-height: 70svh;
        font-size: 19px;
        padding: 20px 0;
        margin-top: 70px;
    }

    .videobg {
        width: 300px;
        margin-bottom: 0;
    }

    .main>h1 {
        max-width: 85vw;
    }

    .product-content {
        max-width: 80vw !important;
        height: 55vh;
        max-height: 600px;
    }
}





/* 

GERAL
**corrigir viewpoert no html para ficar bem responsivo iOS
**corrigir bold btn claro


>>>>>design imagens products >
otimizar imagens
organizar pastas
postar.

posteriormente criar pág produtos e serviços (como tabela de serviço estilo footer da apple com acordeon)

*/